{% extends 'base.html' %}

{% block titulo %}
Analizador de comida
{% endblock titulo %}


{% block contenido %}
    
    <style>
    body {
        background-color: #f5f5f5;
    }
    footer {
        background-color: #e0ffbd;
        text-align: center;
        padding: 10px;
        margin-top: 40px;
        font-weight: 500;
    }
    </style>
</head>
<body>

        <div class="row">
            <div class="col-12 p-1"  style="background-color: #e0ffbd">
                <h1 class="text-center">ANALISIS DE COMIDA CON LAS APIS</h1>
            </div>
        </div>

<div class="container mt-5">
    <h1 class="text-center mb-4">Buscar alimento</h1>


    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}

    <form action="{{ url_for('search_alimento') }}" method="POST" class="card p-4 shadow-sm">
        <div class="mb-3">
            <label for="alimento" class="form-label">Nombre del alimento:</label>
            <input type="text" class="form-control" id="alimento" name="alimento_name" placeholder="Ej: banana" required>
        </div>
        <button type="submit" class="btn btn-primary w-100">Buscar</button>
    </form>
</div>
{% endblock contenido %}
