{% extends 'base.html' %}

{% block titulo %}
Nombre la pagina
{% endblock titulo %}

{% block contenido %}

<div class="row container-center"></div>
<p></p>
<div class="row">
  <p></p>
</div>
<div class="row">
  <p></p>
</div>
<div class="row">
  <p></p>
</div>
<div class="row">
  <p></p>
</div>
<div class="row">
  <p></p>
</div>
<div class="row">
  <p></p>
</div>
<div class="row">
  <p></p>
</div>
<div class="row">
  <p></p>
</div>
<div class="row">
  <p></p>
</div>
<div class="row">
  <p></p>
</div>
<div class="row">
  <p></p>
</div>
<div class="row">
  <p></p>
</div>
<div class="row">
  <p></p>
</div>
<div class="row">
  <p></p>
</div>
<div class="row">
  <p></p>
</div>




<div class="row justify-container-center ">

  <div class="row justify-content-center">
    <div class="col-sm-10 col-md-4 col-6">
      <div class="card text-bg-info mb-3 " style="max-width: 18rem;">
        <div class="card-header">Objetivo</div>
        <div class="card-body">
          <h5 class="card-title">Cual es tu objetivo a alcanzar</h5>
          <p class="card-text"><select class="form-select" aria-label="Default select example">
              <option selected>Selecciona tu objetivo</option>
              <option value="1">Bajar de peso</option>
              <option value="2">Aumentar masa muscular</option>
              <option value="3">Mantener peso</option>
              <option value="4">Mejorar digestión</option>
              <option value="5">Controlar una condición (diabetes, hipertensión, etc)</option>
            </select></p>
        </div>
      </div>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col-sm-6 col-md-4">
      <div class="card text-bg-info mb-3 " style="max-width: 18rem;">
        <div class="card-header">Preferencias</div>
        <div class="card-body">
          <h5 class="card-title">Ingresa alimentos que te disgustan</h5>
          <p class="card-text"><input type="text" class="form-control" id="alimentosDisgusto" name="alimentosDisgust"
              placeholder="" required value="{{ request.form.get('alimentosDisgust','')}}"></p>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-4">
      <div class="card text-bg-info mb-3 " style="max-width: 18rem;">
        <div class="card-header">Restricciones</div>
        <div class="card-body">
          <h5 class="card-title">Ingresa alimentos a los que eres alergico</h5>
          <p class="card-text"><input type="text" class="form-control" id="alimentosAlergico" name="alimentosAlergico"
              placeholder="" required value="{{ request.form.get('alimentosAlergico','')}}"></p>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-4">
    <div class="card text-bg-info mb-3 " style="max-width: 18rem;">
      <div class="card-header">Nivel de experiencia</div>
      <div class="card-body">
        <h5 class="card-title">¿Cual es tu nivel de experiencia en la cocina?</h5>
        <p class="card-text"><select class="form-select" aria-label="Default select example">
            <option selected>Selecciona tu nivel</option>
            <option value="1">Principiante</option>
            <option value="2">Intermedio</option>
            <option value="3">Avanzado</option>
            <option value="4">Experto</option>
          </select></p>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-4">
    <div class="card text-bg-info mb-3 " style="max-width: 18rem;">
      <div class="card-header">Edad</div>
      <div class="card-body">
        <h5 class="card-title">Ingresa tu edad</h5>
        <p class="card-text"><input type="number" class="form-control" id="edad" name="edad" placeholder="" required
            value="{{ request.form.get('edad','')}}"></p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="card text-bg-info mb-3 " style="max-width: 18rem;">
      <div class="card-header">Ingresa tu genero</div>
      <div class="card-body">
        <h5 class="card-title">Selecciona tu genero</h5>
        <p class="card-text">
        <div class="form-check">
          <input class="form-check-input" type="radio" name="genero" id="genero" value="hombre" required
            value="{{ request.form.get('genero','')}}">
          <label class="form-check-label" for="hombre">Hombre</label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="genero" id="genero" value="mujer" required
            value="{{ request.form.get('genero','')}}">
          <label class="form-check-label" for="mujer">Mujer</label>
        </div>
        </p>
      </div>
    </div>
  </div>
  <div class="col-sm-12 col-md-4">
    <div class="card text-bg-info mb-3 " style="max-width: 18rem;">
      <div class="card-header">Actividad fisica</div>
      <div class="card-body">
        <h5 class="card-title">Que tan activo eres</h5>
        <p class="card-text"><select class="form-select" aria-label="Default select example">
            <option selected>Selecciona tu actividad</option>
            <option value="1">Sedentario</option>
            <option value="2">Actividad Ligera</option>
            <option value="3">Actividad Moderada</option>
            <option value="4">Actividad Alta</option>
          </select></p>
      </div>
    </div>
  </div>


  <div class="row container-center">
    <div class="col-sm-6 col-md-4">
      <div class="card text-bg-info mb-3 " style="max-width: 18rem;">
        <div class="card-header">Peso</div>
        <div class="card-body">
          <h5 class="card-title">Ingresa tu peso en kg</h5>
          <p class="card-text"><input type="text" class="form-control" id="peso" name="peso" placeholder="" required
              value="{{ request.form.get('peso','')}}"></p>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-4">
      <div class="card text-bg-info mb-3 " style="max-width: 18rem;">
        <div class="card-header">Calcula</div>
        <div class="card-body">
          <h5 class="card-title">Con el siguiente boton calcularas tu TMB, GCT y IMC</h5>
          <p class="card-text">
          <div class="row">
            <div class="col-3"></div>
            <button type="submit" class="btn btn-success col-12">Calcula</button>
          </div>
          </p>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-4">
      <div class="card text-bg-info mb-3 " style="max-width: 18rem;">
        <div class="card-header">Altura</div>
        <div class="card-body">
          <h5 class="card-title">Ingresa tu altura en cm</h5>
          <p class="card-text"><input type="text" class="form-control" id="altura" name="altura" placeholder="" required
              value="{{ request.form.get('altura','')}}"></p>
        </div>
      </div>
    </div>

  </div>

  {% endblock contenido %}