{% extends 'base.html' %}

{% block titulo %}
Panel Nutricional
{% endblock titulo %}

{% block contenido %}

<style>
    body {
        background-color: #f5f5f5;
    }
    .descripcion-panel {
            background: #ffffff;
            padding: 25px;
            margin: 20px auto;
            border-radius: 12px;
            border-left: 6px solid #8cd26f;
            max-width: 1100px;
        }
    .descripcion-panel h2 {
            font-weight: 700;
            color: #3d7b37;
        }
    footer {
        background-color: #e0ffbd;
        text-align: center;
        padding: 10px;
        margin-top: 40px;
        font-weight: 500;
    }

</style>

<form action="/recomendaciones" method="POST">
<div class="row">
    <div class="col-12 p-1" style="background-color: #e0ffbd">
        <h1 class="text-center fw-bold">PANEL DE CONTROL NUTRICIONAL</h1>
    </div>
</div>

{% if recomendaciones %}
<div class="container my-5">
    <div class="card p-4 shadow">
        <h2 class="text-center mb-4">Recomendaciones Personalizadas</h2>

        <ul class="list-group list-group-flush">
            {% for r in recomendaciones %}
            <li class="list-group-item ">{{ r }}</li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endif %}

<div class="container py-4">
    <div class="row justify-content-center gy-4">

<div class="descripcion-panel">
    <h2>¿Para qué sirve este Panel Nutricional?</h2>
    <p>
        Esta página está diseñada para ayudarte a evaluar tus hábitos diarios relacionados con el sueño,
        la alimentación y tu nivel de actividad física. En la primera sección, podrás registrar parámetros
        importantes como las horas que duermes, tus comidas por día, el deporte que practicas y tu nivel
        de actividad física semanal.
        <br><br>
        En la segunda sección, podrás ingresar tus consumos diarios de alimentos y bebidas clasificados por grupos,
        como cereales, frutas, verduras, proteínas, leguminosas, leche, grasas y más. Después de completar tus datos,
        podrás revisarlos con mayor claridad y comprender mejor cómo es tu estilo de vida actual.
    </p>
</div>
        
        <div class="col-12 col-sm-6 col-md-3">
            <div class="card h-100 shadow-sm" style="background: linear-gradient(90deg, #8b61ff, #9fe5fa); border: 2px solid black">
                <div class="card-header text-center fw-bold">Sueño</div>
                <div class="card-body">
                    <h5 class="card-title text-center">¿Cuántas horas duermes al día?</h5>
                    <input name="sueno" id="sueno" type="number" class="form-control mt-3" placeholder="Ejemplo: 8" required>
                </div>
            </div>
        </div>


        <div class="col-12 col-sm-6 col-md-3">
            <div class="card h-100 shadow-sm" style="background: linear-gradient(45deg, #96ff4f, #f2ff3f); border: 2px solid black">
                <div class="card-header text-center fw-bold">Comidas</div>
                <div class="card-body">
                    <h5 class="card-title text-center">¿Cuántas comidas haces al día?</h5>
                    <input name="comidas" id="comidas" type="number" class="form-control mt-3" placeholder="Ejemplo: 3" required>
                </div>
            </div>
        </div>


        <div class="col-12 col-sm-6 col-md-3">
            <div class="card h-100 shadow-sm" style="background: linear-gradient(90deg, #f2ff3f, #ffb62f, #ff5f5f); border: 2px solid black">
                <div class="card-header text-center fw-bold">Deporte</div>
                <div class="card-body">
                    <h5 class="card-title text-center">Selecciona el deporte que prácticas</h5>
                    <input name="deporte" id="deporte" type="text" class="form-control mt-3" placeholder="Ejemplo: caminata" required>
                </div>
            </div>
        </div>


        <div class="col-12 col-sm-6 col-md-3">
            <div class="card h-100 shadow-sm" style="background: linear-gradient(90deg, #ff7eb3, #c039ff); border: 2px solid black">
                <div class="card-header text-center fw-bold">Actividad Física</div>
                <div class="card-body">
                    <h5 class="card-title text-center">Selecciona tu nivel de actividad física</h5>
                    <select name="actividad" id="actividad" class="form-control mt-3" required>
                        <option value="">Selecciona tu nivel de actividad fisica</option>
                        <option value="baja">Baja 0-1 dias</option>
                        <option value="media">Media 2-4 dias</option>
                        <option value="alta">Alta 5 dias o mas</option>
                    </select>
                </div>
            </div>
        </div>

    </div>
</div>


<div class="container py-2">
    <div class="row justify-content-center gy-4">


        <div class="col-12 col-sm-6 col-md-4">
            <div class="card h-100 shadow-sm" style="background-color: #daab53; border: 2px solid black">
                <div class="card-header text-center fw-bold">Cereales</div>
                <img src="{{ url_for('static', filename='img/CEREALES.png') }}" class="img-fluid">
                <div class="card-body">
                    <input name="cereales" id="cereales" type="number" class="form-control mt-3" placeholder="Ejemplo: 6 porciones(1 tortilla = 1 porcion)" required>
                </div>
            </div>
        </div>


        <div class="col-12 col-sm-6 col-md-4">
            <div class="card h-100 shadow-sm" style="background-color: #ff8878; border: 2px solid black">
                <div class="card-header text-center fw-bold">Proteínas</div>
                <img src="{{ url_for('static', filename='img/PROTEINAS.png') }}" class="img-fluid">
                <div class="card-body">
                    <input name="proteinas" id="proteinas" type="number" class="form-control mt-3" placeholder="Ejemplo: 5 porciones (1 huevo = 1 porcion)" required>
                </div>
            </div>
        </div>


        <div class="col-12 col-sm-6 col-md-4">
            <div class="card h-100 shadow-sm" style="background-color: #ffe345; border: 2px solid black">
                <div class="card-header text-center fw-bold">Grasas</div>
                <img src="{{ url_for('static', filename='img/GRASAS.png') }}" class="img-fluid">
                <div class="card-body">
                    <input name="grasas" id="grasas" type="number" class="form-control mt-3" placeholder="Ejemplo: 3 porciones 1/8 aguacate = 1 porcion" required>
                </div>
            </div>
        </div>


        <div class="col-12 col-sm-6 col-md-4">
            <div class="card h-100 shadow-sm" style="background-color: #ff83bd; border: 2px solid black">
                <div class="card-header text-center fw-bold">Frutas</div>
                <img src="{{ url_for('static', filename='img/FRUTAS.png') }}" class="img-fluid">
                <div class="card-body">
                    <input name="frutas" id="frutas" type="number" class="form-control mt-3" placeholder="Ejemplo: 2 porciones (1 manzana = 1 porcion)" required>
                </div>
            </div>
        </div>


        <div class="col-12 col-sm-6 col-md-4">
            <div class="card h-100 shadow-sm" style="background-color: #7eff43; border: 2px solid black">
                <div class="card-header text-center fw-bold">Verduras</div>
                <img src="{{ url_for('static', filename='img/VERDURAS.png') }}" class="img-fluid">
                <div class="card-body">
                    <input name="vegetales" id="vegetales" type="number" class="form-control mt-3" placeholder="Ejemplo: 3 porciones (1/2 taza cocida = 1 porcion)" required>
                </div>
            </div>
        </div>


        <div class="col-12 col-sm-6 col-md-4">
            <div class="card h-100 shadow-sm" style="background-color: #cecece; border: 2px solid black">
                <div class="card-header text-center fw-bold">Leche</div>
                <img src="{{ url_for('static', filename='img/LECHE.png') }}" class="img-fluid">
                <div class="card-body">
                    <input name="leche" id="leche" type="number" class="form-control mt-3" placeholder="Ejemplo: 1 taza" required>
                </div>
            </div>
        </div>


        <div class="col-12 col-sm-6 col-md-4">
            <div class="card h-100 shadow-sm" style="background-color: #4ffff6; border: 2px solid black">
                <div class="card-header text-center fw-bold">Azúcares</div>
                <img src="{{ url_for('static', filename='img/AZUCAR.png') }}" class="img-fluid">
                <div class="card-body">
                    <input name="azucar" id="azucar" type="number" class="form-control mt-3" placeholder="Ejemplo: 10 gramos" required>
                </div>
            </div>
        </div>


        <div class="col-12 col-sm-6 col-md-4">
            <div class="card h-100 shadow-sm" style="background-color: #ce79ff; border: 2px solid black">
                <div class="card-header text-center fw-bold">Leguminosas</div>
                <img src="{{ url_for('static', filename='img/LEGUMINOSAS.png') }}" class="img-fluid">
                <div class="card-body">
                    <input name="leguminosas" id="leguminosas" type="number" class="form-control mt-3" placeholder="Ejemplo: 1 porcion (1/2 taza cocida = 1 porcion)" required>
                </div>
            </div>
        </div>


        <div class="col-12 col-sm-6 col-md-4">
            <div class="card h-100 shadow-sm" style="background-color: #7e91ff; border: 2px solid black">
                <div class="card-header text-center fw-bold">Agua</div>
                <img src="{{ url_for('static', filename='img/AGUA.png') }}" class="img-fluid">
                <div class="card-body">
                    <input name="agua" id="agua" type="number" class="form-control mt-3" placeholder="Ejemplo: 8 Vasos" required>
                </div>
            </div>
        </div>

    </div>
</div>

<div class="text-center my-5">
    <button type="submit" class="btn btn-success btn-lg px-5" style="background-color: #21c400;">Revisa y obten recomendaciones</button>
</div>

</form>



{% endblock contenido %}
