<!DOCTYPE html>
<html lang="es">
<head>  
    <meta charset="UTF-8">  
    <meta name="viewport" content="width=device-width, initial-scale=1">  
    <title>NutriApp - Análisis Saludable</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <style>
    body {
        background-color: #c6ffb8;
    }
    footer {
        background-color: #f5faffde;
        text-align: center;
        padding: 10px;
        margin-top: 40px;
        font-weight: 500;
    }
    </style>
</head>
<body>

<!-- MENU -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light shadow-sm bg-body-tertiary sticky-top">
            <div class="container-fluid">
                <a class="navbar-brand fw-bold text-success" href="#">NutriApp</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="interfaz inicio.html">Inicio</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="recetas saludables.html">Recetas Saludables</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="analisis.html">Analisis de Comida</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="calculadora.html">Calculadora de datos</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                Acerca de:
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">Accion</a></li>
                                <li><a class="dropdown-item" href="#">Otra accion</a></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="dropdown-item" href="#">Algo más aqui</a></li>
                            </ul>
                        </li>
                    </ul>

                    <form class="d-flex" role="search">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" />
                        <button class="btn btn-outline-success" type="submit">Buscar</button>
                    </form>
                </div>
            </div>
        </nav>

  <!-- ENCABEZADO -->
        <div class="row">
            <div class="col-12 bg-dark-subtle p-3">
                <h3>DESARROLLO DE PLANTILLA BASE</h3>
            </div>
        </div>
        
  <!-- SECCIÓN DE OBJETIVOS (4 TARJETAS) -->
 <div class="container py-4">
  <div class="row justify-content-center gy-4" style="background-color: #ffffff; border-radius: 10px; padding: 20px;">
    
<!-- Tarjeta 1 -->
    <div class="col-12 col-sm-6 col-md-3">
      <div class="card text h-100 shadow-sm" style="background-color: #f6f87f; border: 2px solid black">
        <div class="card-header text-center fw-bold">Edad</div>
        <div class="card-body">
          <h5 class="card-title text-center">Ingresa tu edad</h5>
          <input id="edad" type="number" class="form-control mt-3" placeholder="Ejemplo: 20" required>
        </div>
      </div>
    </div>

<!-- Tarjeta 2 -->
    <div class="col-12 col-sm-6 col-md-3">
      <div class="card text h-100 shadow-sm" style="background-color: #f6f87f; border: 2px solid black">
        <div class="card-header text-center fw-bold">Altura</div>
        <div class="card-body">
          <h5 class="card-title text-center">Ingresa tu altura (cm)</h5>
          <input id="altura" type="number" class="form-control mt-3" placeholder="Ejemplo: 170" required>
        </div>
      </div>
    </div>

<!-- Tarjeta 3 -->
    <div class="col-12 col-sm-6 col-md-3">
      <div class="card text h-100 shadow-sm" style="background-color: #f6f87f; border: 2px solid black">
        <div class="card-header text-center fw-bold">Peso</div>
        <div class="card-body">
          <h5 class="card-title text-center">Ingresa tu peso (kg)</h5>
          <input id="peso" type="number" class="form-control mt-3" placeholder="Ejemplo: 65" required>
        </div>
      </div>
    </div>

<!-- Tarjeta 4 -->
    <div class="col-12 col-sm-6 col-md-3">
      <div class="card text h-100 shadow-sm" style="background-color: #f6f87f; border: 2px solid black
      
      ">
        <div class="card-header text-center fw-bold">Actividad</div>
        <div class="card-body">
          <h5 class="card-title text-center">Nivel de actividad física</h5>
          <select id="actividad" class="form-control mt-3" required>
            <option value="">Selecciona una opción</option>
            <option value="baja">Baja</option>
            <option value="media">Media</option>
            <option value="alta">Alta</option>
          </select>
        </div>
      </div>
    </div>

  </div>
</div>

  <!-- SECCIÓN DE ALIMENTOS (9 TARJETAS) -->
  <div class="container py-4">
    <div class="row justify-content-center gy-4" style="background-color: #ffffff; border-radius: 10px; padding: 20px;">
      
<!-- CEREALES -->
      <div class="col-12 col-sm-6 col-md-4">
        <div class="card h-100 shadow-sm" style="background-color: #daab53; border: 2px solid black">
          <div class="card-header text-center fw-bold">Cereales</div>
          <img src="../static/img/CEREALES.png" class="img-fluid">
          <div class="card-body">
            <h5 class="card-title text-center">Ingresa tus cereales</h5>
            <input id="edad" type="number" class="form-control mt-3" placeholder="Ejemplo: 20" required>
          </div>
        </div>
      </div>

<!-- PROTEINAS -->
      <div class="col-12 col-sm-6 col-md-4">
        <div class="card h-100 shadow-sm" style="background-color: #ff8878; border: 2px solid black">
          <div class="card-header text-center fw-bold">Proteinas</div>
          <img src="../static/img/PROTEINAS.png" class="img-fluid">
          <div class="card-body">
            <h5 class="card-title text-center">Ingresa tus proteinas</h5>
            <input id="altura" type="number" class="form-control mt-3" placeholder="Ejemplo: 170" required>
          </div>
        </div>
      </div>

<!-- GRASAS -->
      <div class="col-12 col-sm-6 col-md-4">
        <div class="card h-100 shadow-sm" style="background-color: #ffe345; border: 2px solid black">
          <div class="card-header text-center fw-bold">Grasas</div>
          <img src="../static/img/GRASAS.png" class="img-fluid">
          <div class="card-body">
            <h5 class="card-title text-center">Ingresa tus grasas</h5>
            <input id="peso" type="number" class="form-control mt-3" placeholder="Ejemplo: 65" required>
          </div>
        </div>
      </div>

<!-- FRUTAS -->
      <div class="col-12 col-sm-6 col-md-4">
        <div class="card h-100 shadow-sm" style="background-color: #ff83bd; border: 2px solid black">
          <div class="card-header text-center fw-bold">Fruta</div>
          <img src="../static/img/FRUTAS.png" class="img-fluid">
          <div class="card-body">
            <h5 class="card-title text-center">Ingresa tu fruta</h5>
            <select id="actividad" class="form-control mt-3" required>
              <option value="">Selecciona una opción</option>
              <option value="baja">Baja</option>
              <option value="media">Media</option>
              <option value="alta">Alta</option>
            </select>
          </div>
        </div>
      </div>

<!-- VERDURAS -->
      <div class="col-12 col-sm-6 col-md-4">
        <div class="card h-100 shadow-sm" style="background-color: #7eff43; border: 2px solid black">
          <div class="card-header text-center fw-bold">Vegetales</div>
          <img src="../static/img/VERDURAS.png" class="img-fluid">
          <div class="card-body">
            <h5 class="card-title text-center">Selecciona tus vegetales</h5>
            <select id="genero" class="form-control mt-3" required>
              <option value="">Selecciona</option>
              <option value="hombre">Hombre</option>
              <option value="mujer">Mujer</option>
              <option value="otro">Otro</option>
            </select>
          </div>
        </div>
      </div>

<!-- LECHE -->
      <div class="col-12 col-sm-6 col-md-4">
        <div class="card h-100 shadow-sm" style="background-color: #cecece; border: 2px solid black">
          <div class="card-header text-center fw-bold">Leche</div>
          <img src="../static/img/LECHE.png" class="img-fluid">
          <div class="card-body">
            <h5 class="card-title text-center">¿Cuánta leche consumes al dia?</h5>
            <select id="objetivo" class="form-control mt-3" required>
              <option value="">Selecciona</option>
              <option value="bajar">Bajar de peso</option>
              <option value="mantener">Mantener peso</option>
              <option value="subir">Subir masa muscular</option>
            </select>
          </div>
        </div>
      </div>

<!-- AZUCAR -->
      <div class="col-12 col-sm-6 col-md-4">
        <div class="card h-100 shadow-sm" style="background-color: #4ffff6; border: 2px solid black">
          <div class="card-header text-center fw-bold">Azucares</div>
          <img src="../static/img/AZUCAR.png" class="img-fluid">
          <div class="card-body">
            <h5 class="card-title text-center">Ingresa tu nivel de azucar</h5>
            <input id="comidas" type="number" class="form-control mt-3" placeholder="Ejemplo: 3" required>
          </div>
        </div>
      </div>

<!-- LEGUMINOSAS -->
      <div class="col-12 col-sm-6 col-md-4">
        <div class="card h-100 shadow-sm" style="background-color: #ce79ff; border: 2px solid black">
          <div class="card-header text-center fw-bold">Leguminosas</div>
          <img src="../static/img/LEGUMINOSAS.png" class="img-fluid">
          <div class="card-body">
            <h5 class="card-title text-center">¿Cuántas leguminosas consumes?</h5>
            <input id="agua" type="number" class="form-control mt-3" placeholder="Ejemplo: 2" required>
          </div>
        </div>
      </div>

<!-- AGUA -->
      <div class="col-12 col-sm-6 col-md-4">
        <div class="card h-100 shadow-sm" style="background-color: #7e91ff; border: 2px solid black">
          <div class="card-header text-center fw-bold">Agua</div>
          <img src="../static/img/AGUA.png" class="img-fluid">
          <div class="card-body">
            <h5 class="card-title text-center">¿Cuánta agua tomas al día? (L)</h5>
            <input id="sueno" type="number" class="form-control mt-3" placeholder="Ejemplo: 8" required>
          </div>
        </div>
      </div>

    </div>
  </div>

<!-- Pie de página -->
<footer>
© 2025 NutriApp — Todos los derechos reservados
</footer>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
